body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, footer {
    background-color: #8cdbff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ff71c8;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    padding: 20px;
}

footer {
    margin-top: 20px;
}

table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #8cdbff;
  color: #333;
}

p {
	text-indent: 25px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }

.theThing:hover {
	background-color: #333;
}

#fav {
	background-color: #8cdbff;
}